# -*- mode: gitignore; -*-

/*

!/sway/
!/sway-interactive-screenshot/
!/waybar/
!/gtk-3.0/
!/gtk-4.0/
!/fish/
!/qt5ct/
!/environment.d/
!/neofetch/
!/gh/
!/hypr/
!/wofi/

!/README.md
!.gitignore

.DS_Store
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
